# NET: ld65 config for the ip65 blob (see src/net/ip65_glue.s)
# override with ld65 -D __BLOBADDR__=$xxxx -D __ZPADDR__=$xx
SYMBOLS {
    __BLOBADDR__: type = weak, value = $2000;
    __ZPADDR__:   type = weak, value = $50;
}
MEMORY {
    ZP:   file = "", start = __ZPADDR__, size = $16, define = yes;
    MAIN: file = %O, start = __BLOBADDR__, size = $2000, define = yes;
}
SEGMENTS {
    ZEROPAGE:  load = ZP,   type = zp;
    JUMPTABLE: load = MAIN, type = ro;
    CODE:      load = MAIN, type = ro;
    RODATA:    load = MAIN, type = ro;
    DATA:      load = MAIN, type = rw;
    BSS:       load = MAIN, type = bss, define = yes;
}
